{% extends 'gabarit.html' %}

<!-- $Id: author.html,v 1.4 2023/09/20 14:30:38 dgoron Exp $ -->

{% block detail %}
	{% if element.author_comment %}
		<div class="aut_display_row" style="overflow: hidden;">
			<div class="aut_display_cell">
				<b>{{ msg.comment }} :</b>
			</div>
			<div class="aut_display_cell">
				{{ element.author_comment | nl2br }}
			</div>
		</div>
	{% endif %}
	{% if element.see %}
		<div class="aut_display_row">
			<div class="aut_display_cell">
				<b>{{ msg.author_see }} :</b>
			</div>
			<div class='aut_display_cell'>
				<span class='number_results'>
					<a href="./index.php?lvl=author_see&id={{ element.see }}">
						{{ element.author_see }}
					</a>
				</span>
			</div>
		</div>
	{% endif %}
{% endblock detail %}