{% extends 'gabarit.html' %}

<!-- $Id: concept.html,v 1.3 2023/09/20 14:30:38 dgoron Exp $ -->

{% block detail %}
	<div class="aut_display_row">
		<div class="aut_display_cell">
			<b>{{ msg.ontology_object_uri }} :</b>
		</div>
		<div class="aut_display_cell">
			{{ element.uri }}
		</div>
	</div>
	{{ element.schemes_list }}
	{{ element.broaders_list }} 
	{{ element.narrowers_list }} 
	<div class='row'>&nbsp;</div>
	{% if element.note %}
		<div class="aut_display_row">
			<div class="aut_display_cell">
				<b>{{ msg.onto_common_note }} :</b>
			</div>
			<div class="aut_display_cell">
				{{ element.note | nl2br }}
			</div>
		</div>
	{% endif %}
	{% if element.map.map %}
		<div class="map_notice">
			{{ element.map.map }}
		</div>
	{% endif %}
{% endblock detail %}