{% extends 'gabarit.html' %}

<!-- $Id: subcollection.html,v 1.2 2018/04/09 09:07:16 dgoron Exp $ -->

{% block detail %}
	{% if element.parent_libelle %}
		<div class="aut_display_row">
			<div class="aut_display_cell">
				<b>{{ msg.search_extended_subcollection_parent }} :</b>
			</div>
			<div class="aut_display_cell">
				<a href="./index.php?lvl=coll_see&id={{ element.parent }}">{{ element.parent_libelle }}</a>
			</div>
		</div>
	{% endif %}
	{% if element.editeur_libelle %}
		<div class="aut_display_row">
			<div class="aut_display_cell">
				<b>{{msg.164}} :</b>
			</div>
			<div class="aut_display_cell">
				<a href="./index.php?lvl=publisher_see&id={{ element.editeur }}">{{ element.editeur_libelle }}</a>
			</div>
		</div>
	{% endif %}
	<div class="aut_display_row">
		<div class="aut_display_cell">
			<b>{{ msg.subcollection_details_issn | printf "" }}</b>
		</div>
		<div class="aut_display_cell">
			{% if element.issn %}{{ element.issn }}{% else %}{{ msg.subcollection_details_no_issn }}{% endif %}
		</div>
	</div>
	{% if element.subcollection_web %}
		<div class="aut_display_row">
			<div class="aut_display_cell">
				<b>{{ msg.editeur_web }} :</b>
			</div>
			<div class="aut_display_cell">
				<a target="_blank" href="{{ element.subcollection_web }}">{{ element.subcollection_web }}</a>
			</div>
		</div>
	{% endif %}
	{% if element.comment %}
		<div class="aut_display_row">
			<div class="aut_display_cell">
				<b>{{ msg.707 }} :</b>
			</div>
			<div class="aut_display_cell">
				{{ element.comment | nl2br }}
			</div>
		</div>
	{% endif %}
{% endblock detail %}