/* parametre des couleurs
 ========================================================================== */
/* Couleur fond de page et bandeau supperieur
 ========================================================================== */

/* Couleur de fond de titre et modules
------------------------------------- */

.SliderArt h3.titleInside,
.SliderArt .bx-wrapper .bx-pager.bx-default-pager a:hover,
.SliderArt .bx-wrapper .bx-pager.bx-default-pager a.active,
.listselect .itemVign .imgL.uk-panel-box,
#resume_panier,
#lienHistorique,
#adresse,
.titleContenu,
.listArticlesGen .itemAbrege>h3,
.listeSameArticle .itemAbrege>h3,
.listItemsEvent .itemAbrege>h3,
.listResultArticles .itemAbrege>h3,
.listArticlesGen .itemAbrege>a>h3,
.MenuCanvas.uk-button,
.wl-tgl-nav .uk-button,
#intro,
.MenuHoriz .Nav>li,
.solo-picture .uk-grid-width-1-3 li,
body#pmbopac,
#footer,
#footer .Ancre a,
#accessibility,
.MenuHoriz .uk-dropdown,
.uk-offcanvas-bar-custom .uk-nav-side > li > a:hover, 
.uk-offcanvas-bar-custom .uk-nav-side > li > a:focus,
.wl-tgl-nav .uk-navbar-nav>li.uk-open>a, 
.wl-tgl-nav .uk-navbar-nav>li:hover>a, 
.wl-tgl-nav .uk-navbar-nav>li>a:focus {
    background-color: #6fb8e2;
}

/* Couleur des bordures
------------------------------------- */

.NavResponsive .SousNavResponsive li:hover>a:before,
.itemSolo h4,
.listProd>h3,
.listEtageresRub>h3,
.fluxRSSRub>h3,
.infosArt>h3,
.SameNot>h3,
.SliderHoriz>h3,
#aut_details_liste>h3 span.aut_details_liste_titre,
.listArticlesGen>h3,
.listeSameArticle>h3,
.listItemsEvent>h3,
.listResultArticles>h3,
.fluxRSSPage>h3,
.document_list>h3,
ul.empr_tabs li.subTabCurrent,
ul.onglets_isbd_public li.isbd_public_active,
ul.empr_tabs #current,
ul.search_tabs li#current,
ul.empr_tabs li.subTabCurrent,
ul.empr_tabs li.subTabCurrent:hover,
.solo-picture .uk-grid-width-1-3 li {
    border-color: #6fb8e2;
}
/*=========================================================================*/
/* Couleur des liens et soulignement des titres
 ==========================================================================*/
/* Couleur de fond de titre et modules
------------------------------------- */
.searchbox, .brevesBandeau, .uk-nav-navbar>li>a:focus, .uk-nav-navbar>li>a:hover, .TgllSearch, .rubContent>h3:hover:after, .listItemsGen .itemAbrege:hover h3:after, span.imgComment, span.imgStatutPartN, .onglet_basketNotCourte .img_basketNotCourte img, .onglet_basketNot .img_basketNot img, div[class='onglet_basketNotCourte'], div[class='avisNCourte'], div[class='tagsNCourte'], div[class='listeLectureNCourte'] a, div[class='suggestNCourte'], div[class='onglet_basketNot'] a.img_basketNot, div[class='tagsN'], div[class='suggestN'], div[class='docnumNCourte docnumNCourtePermalink'], div[class='docnumNCourte'], div[class='listeLectureN'] a, span.imgComment, span.imgStatutPartN, span.imgDocNum, .avisN, .searchbox input[value="Aide"], #search .boutonrechercher, input[type="submit"].bouton, input[type="button"].bouton, #search input[type="submit"], #search input[value="Aide"], #account #login_form input.bouton, .tundra .dijitCalendarMonthContainer th, .tundra .dijitMenu, .tundra .dijitMenuBar, .TglUser, .fluxRSS>h3, #widget>h3, .tb_pret_location_row, #cms_module_agenda_85 td.cms_module_agenda_event_13, #cms_module_agenda_85 td.cms_module_agenda_event_3, #cms_module_agenda_85 > div.row > div > div:first-child, .dijitCalendarMonthContainer, #login_form input[type="submit"].bouton, #facette_wrapper table th, .AllRecords a, .AllRecords span, div.lienP {
    background-color: #9d9d9d;
}
/* Couleur des bordures
------------------------------------- */

.NavResponsive li:hover>a:before,
ul.search_tabs li:hover,
ul.empr_tabs li:hover,
ul.list_tabs li:hover,
ul.empr_tabs #current,
.listEtageres>h3 a:hover,
.searchbox_title:first-letter,
#connexion h3:first-letter,
#connexion #login_form>b:first-letter,
.infosBandeau .itemAbrege h3:first-letter,
.logosBandeau h3:first-letter,
.brevesBandeau h3:first-letter,
#lvl1>h3:first-letter,
#facette_wrapper > form > h3.facette_compare_listTitle:first-letter,
#search_result>h3,
#location h3,
#last_entries h3,
#etageres h3,
.notice_contenu,
ul.empr_subtabs li.subTabCurrent,
.itemSolo h4, 
.listProd>h3, 
.listEtageresRub>h3, 
.fluxRSSRub>h3, 
.infosArt>h3, 
.SameNot>h3,
.SliderHoriz>h3, 
#aut_details_liste>h3 span.aut_details_liste_titre, 
.listArticlesGen>h3, 
.listeSameArticle>h3, 
.listItemsEvent>h3, 
.listResultArticles>h3, 
.fluxRSSPage>h3, 
.document_list>h3, 
#empr-resa>h3, 
#empr-all>h3, 
#location h3, 
#last_entries>h3, 
#etageres>h3,
div .itemSolo h2,
.listArticlesGen h2,
.listeSameArticle h2,
.listItemsEvent h2,
.listResultArticles h2,
.introVue>h3,
#resultatrech>h3,
.introDossier h2,
#resultatrechBis>h3,
.blocCnx>h2,
#titre-popup,
#aut_details>h3,
.wl-title-news:before, .wl-title-article:before,
.SliderArt h3,
.SliderNot>h3,
.listselect>h3,
.ListActus>h3,
.listBibli>h3,
.listEtageres>h3,
.listBreves>h3,
.infosPage h3,
.fluxRSS>h3,
#rechercheForm>h3,
#webdoc>h3,
#search_result>h3,
.listRubs h2,
.listRubsAbbr>h2,
.itemSoloFlux h2,
.SliderVertic>h3,
.fluxRSSJuridique>h2,
.fluxRSSJuridique>h3,
#make_sugg h3,
#searchWebdoc h3,
#listeFlux h3,
.titleContenu {
    border-color: #9d9d9d;
}
/* Couleur des textes fonce
------------------------------------- */
h1#titre-Portail  .subTitle,
ul.search_tabs li a, ul.empr_tabs li a,
ul.empr_subtabs li.subTabCurrent{
	color: #9d9d9d;	
}
/* Couleur au survole
------------------------------------- */

.Rub .infosRub:hover .resume,
.listEtageres>h3 a:hover,
.uk-tab>li.uk-open>a, .uk-tab>li>a:focus, .uk-tab>li>a:hover {
    color: #9d9d9d;
}

/*Couleur liens 
------------------------------------- */

.uk-link,
a,
.liensExtrn li a,
.brevesBandeau .lirePlus {
    color: #9d9d9d;
}
/*Couleur liens au survole
------------------------------------- */

.ItemResume:hover h4,
.ItemResume:hover .lirePlus,
.tundra .dijitCalendarDayLabelTemplate,
.fluxRSS>.itemAbrege h4 a  {
    color: #9d9d9d;
}

/*=========================================================================*/
/*Couleur blanche ne pas toucher
 ==========================================================================*/

#container .uk-nav-navbar>li>a:focus,
#container .uk-nav-navbar>li>a:hover,
.brevesBandeau .itemAbrege .resume,
.tb_pret_location_row>td,
#cart_info_iframe_content a,
.searchbox input[value="Aide"],
#cart_info_iframe_content a,
#cart_info_iframe_content a:hover,
.MenuCanvas.uk-button,
.MenuHoriz .Nav>li>a:hover {
    color: #fff;
}