{% extends 'gabarit.html' %}

<!-- $Id: category.html,v 1.2 2023/05/05 09:16:56 tsamson Exp $ -->
{% block element_link %}
	{% if list_element.voir %}
		<a href="#" data-element-id="{{ list_element.id }}" data-element-type="authorities" onclick="set_parent('{{ global.caller }}', '{{ list_element.voir }}', '{{ list_element.categ_see.libelle | strip_tags | escape true }}','{{ global.callback }}')">
			{{ list_element.libelle | strip_tags | safe }} -&gt; <i>{{ list_element.categ_see.libelle | strip_tags | safe }}@</i>
		</a>
	{% else %}
		<a href="#" data-element-id="{{ list_element.id }}" data-element-type="authorities" onclick="set_parent('{{ global.caller }}', '{{ list_element.num_object }}', '{{ list_element.isbd | strip_tags | escape true }}','{{ global.callback }}')">
			{{ list_element.isbd | strip_tags | safe }}
		</a>
	{% endif %}
{% endblock %}