{% extends 'gabarit.html' %}

<!-- $Id: concept.html,v 1.2 2021/01/21 09:42:08 jlaurent Exp $ -->
{% block element_link %}
	{% if global.caller == 'search_form' %}
		<a href="#" data-element-id="{{ list_element.id }}" data-element-type="authorities" onclick="set_parent('{{ global.caller }}', '{{ global.element}}', '{{ list_element.get_object_instance.id }}', '{{list_element.get_object_instance.isbd | escape true }}', '{{global.type}}', '{{ global.callback }}')">
			{{ list_element.get_object_instance.header | safe }}
		</a>
	{% else %}
		{% if global.what == 'contribution' %}
 			{{ block.super }}
		{% else %}
			<a href="#" data-element-id="{{ list_element.id }}" data-element-type="authorities" onclick="set_parent('{{ global.caller }}', '{{ global.element}}', '{{ list_element.get_object_instance.uri }}', '{{list_element.get_object_instance.isbd |  escape true }}', '{{global.type}}', '{{ global.callback }}')">
				{{ list_element.get_object_instance.header | safe }}
			</a>
		{% endif %}
	{% endif %}
{% endblock %}