{% extends 'gabarit.html' %}

<!-- $Id: author.html,v 1.3 2023/09/20 14:30:38 dgoron Exp $ -->

{% block detail %}
	{% if element.author_comment %}
		<div class="aut_display_row">
			<div class="aut_display_cell">
				<b>{{ msg.707 }} :</b>
			</div>
			<div class="aut_display_cell">
				{{ element.author_comment | nl2br }}
			</div>
		</div>
	{% endif %}
	{% if element.author_isni %}
		<div class="aut_display_row">
			<div class="aut_display_cell">
				<b>{{ msg.author_isni }} :</b>
			</div>
			<div class='aut_display_cell'>
				{{element.author_isni }}
			</div>
		</div>
	{% endif %}
	{% if element.see %}
		<div class="aut_display_row">
			<div class="aut_display_cell">
				<b>{{ msg.206 }} :</b>
			</div>
			<div class='aut_display_cell'>
				<span class='number_results'><a href="./autorites.php?categ=see&sub=author&id={{ element.see }}">{{ element.see_libelle}}</a></span>
			</div>
		</div>
	{% endif %}
{% endblock detail %}