<!-- $Id: gabarit.html,v 1.4 2023/08/30 09:23:47 rtigero Exp $ -->

<div class="notice-parent" id="el{{ element.uid }}{{ element.id }}Parent">
  		<img style="border:0px; margin:3px 3px" onclick="expandBase('el{{ element.uid }}{{ element.id }}', true); return false;" id="el{{element.uid}}{{element.id}}Img" name="imEx" class="img_plus" src="{{ global.base_path }}/getgif.php?nomgif=plus">
		<span class="notice-heada">
			<small>
				<span class='{{element.statut_class_html}}' style='margin-right: 3px;'>
					<a href=# onmouseover="z=document.getElementById('zoom_statut{{ element.id }}'); z.style.display='';" onmouseout="z=document.getElementById('zoom_statut{{element.id}}'); z.style.display='none';">
						<img src="{{ img.spacer.gif }}" width="10" height="10" />
					</a>					
				</span>
			</small>
			{% if element.type_icon %}
				<img class="align_top" src="{{ element.type_icon }}" title="{{ element.type_label }}" alt="{{ element.type_label }}"/>
			{% endif %}
			<div id="zoom_statut{{ element.id }}" style="border: solid 2px #555555; background-color: #FFFFFF; position: absolute; display:none; z-index: 2000;">
				<b>
					{{ element.statut_label }}
				</b>
			</div>
			
			{% if element.context_parameters.in_selector %}
				{% block element_link %}
				<a href="#" data-element-id="{{ element.id }}" data-element-type="authorities" onclick="set_parent('{{ global.caller }}', '{{ element.num_object }}', '{{ element.isbd |  escape true }}','{{ global.callback }}')">
					{% block element_selector_header %}
						{{ element.isbd | safe }}
					{% endblock %}
				</a>
				{% endblock %}
			{% else %}
				<a href="{{ element.permalink }}" data-element-id="{{ element.id }}" data-element-type="authorities">
					{% block element_header %}
						{{ element.isbd | safe }}
					{% endblock %}
				</a>
			{% endif %}
		</span>
  		<br>
</div>

<div style="margin-bottom: 6px; display: block;" class="notice-child" startOpen="no" id="el{{ element.uid }}{{ element.id }}Child">
    {% if element.thumbnail_url %}
    	<div class="vignAut">{{element.thumbnail}}</div>
    {% endif %}
	<img class="align_middle" href="#"/>
	{{ element.caddie }}
	<div style="overflow:hidden;"><table width="100%" role='presentation'>
		<tr>
			{% block element_content %}
				{{ element.detail | safe }}
			{% endblock element_content %}
		</tr>
	</table></div>
	<div class="clear"></div>
</div>