<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title></title>
		
	</head>

	<body>
		<style type="txt/css">
			.titre {
				font-size:16px;
				font-weight:bold;
			}
		</style>
		<table border="5" cellpadding="0" cellspacing="0" align="center" class="titre">
			<tr>
				<td align="center">#VALEUR_TITRE#</td>
			</tr>
		</table>

		<br />

		<table border="1" cellpadding="0" cellspacing="0" align="center">
			<tr>
				<th align="left">#NOM#</th>
				<th align="left">#PRENOM#</th>
				<th align="left">#ANNEE#</th>
				<th align="left">#CLASSE#</th>
				<th align="left">#LIBELLE_NUMERO_CHEQUE#</th>
				<th align="right">#LIBELLE_MONTANT#</th>
			</tr>
			#LIGNES_TABLEAU#
			
			<tr>
				<td align="right"><b></b></td>
				<td align="right"><b></b></td>
				<td align="right"><b></b></td>
				<td align="right"><b></b></td>
				<td align="center"><b>#CHEQUE_TOTAL# chèque(s)</b></td>
				<td align="right"><b>#VALEUR_TOTAL#</b></td>
			</tr>
		</table>
	</body>
</html>
