@charset "utf-8"; /* +--------------------------------------------------------------------------+
// 2013 PMB Services / www.sigb.net pmb@sigb.net et contributeurs (voir www.sigb.net)
// +-------------------------------------------------+
// $Id: cart.css,v 1.2 2018-01-08 13:33:34 wlair Exp $ */
/*------------------------------------------------------------------------------------------*/
/* ========================================================================
   Component: panier
 ==========================================================================  */
/* general                                          
 ========================================================================== */
#resume_panier {
	background: #f86163;
	z-index: 2;
	position: relative;
	width: 130px;
	height: 100%;
	max-height: 50px;
}

iframe#iframe_resume_panier {
	height: 50px;
}

body.cart_info_body {
	padding: 0;
	margin: 0;
	color: #fff;
	text-align: center;
}

.cart_info_body>span {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	line-height: 1;
}

.cart_info_body>span {
}

#cart_info_iframe_content a, #cart_info_iframe_content a:hover {
	color: #213f41;
	text-decoration: none;
}

/* Image du panier                                          
 ========================================================================== */
.img_basket {
}

#cart_info_iframe_content .img_basket {
}

#cart_info_iframe_content .img_basket img {
	display: inline-block;
	background-size: cover;
	width: auto;
	height: 20px;
	vertical-align: sub;
	margin-right: 5px;
}

.img_basket img {
}

/* lien du panier                                          
 ========================================================================== */
#cart_info_iframe_content a {
}

#cart_info_iframe_content a:hover {
}

.bannette-titre h1>a[href^="cart_inf"] {
}

.bannette-titre h1>a[href^="cart_inf"] {
}

.bannette-titre h1>a[href^="./empr.php?"] {
}

.bannette-titre h1 {
}

.bannette-titre h1>a[href^="cart_inf"] {
}

/* Page panier                                          
 ========================================================================== */
#resume_panier.empty {
}

.empty:after {
	content: "Mon panier";
	background-image: url('images/basket_small_20x20.svg');
	background-repeat: no-repeat;
	background-position: 0px 45%;
	text-indent: 55px;
	padding-left: 0px;
	display: block;
	font-size: 1em;
	color: #796262;
	height: 40px;
	line-height: 38px;
	position: static;
}

#cart_action br {
	display: none;
}

#cart_action form[name="export_form"] br:first-child {
}

#cart_action {
}

#cart_action>input {
}

#cart_action>input:nth-of-type(2n+3) {
}

#cart_action input[type="button"].bouton {
	margin-right: 7px;
	margin-bottom: 7px;
}

#cart_action input[type="button"].bouton+input[type="button"].bouton {
}

#cart_action form[name="export_form"] {
}

#cart_action input[type="radio"] {
}

#cart_action input[value="Ok"].bouton {
}

iframe#iframe_resume_panier html {
}

#cart_action form[name="export_form"] label {
}

#cart_action input:hover {
}

a.img_basket:hover {
}

#resume_panier a {
}

table .img_basket {
}

ul.onglets_isbd_public .onglet_basket a.img_basket {
}

ul.onglets_isbd_public .onglet_basket a.img_basket_exist {
}

#main ul.onglets_isbd_public .onglet_basket:hover a {
}

.search_result, table[summary^="navigation bar"] {
}

.main_wrapper a.img_basket {
}

/* ========================================================================
   actions panier
 =========================================================================  */
#cart_action {
}

#cart_action br {
	display: none;
}

#cart_action>input {
	float: left;
}

/* Font panier                                          
 ========================================================================== */
@font-face {
	font-family: 'interstates-boldcondensed';
	src: url('./fonts/interstate_boldcondensed-.eot');
	src: url('./fonts/interstate_boldcondensed-.eot?#iefix') format('embedded-opentype'), url('./fonts/interstate_boldcondensed-.woff2') format('woff2'), url('./fonts/interstate_boldcondensed-.woff') format('woff'), url('./fonts/interstate_boldcondensed-.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
