@charset "utf-8";
/* +--------------------------------------------------------------------------+
// 2013 PMB Services / www.sigb.net pmb@sigb.net et contributeurs (voir www.sigb.net)
// +-------------------------------------------------+
// $Id: form.css,v 1.2 2018-01-08 13:33:34 wlair Exp $ */
/*------------------------------------------------------------------------------------------*/
/* ========================================================================
   Formulaire
 ========================================================================== */

label,
input,
button,
select,
textarea {
    font-weight: normal;
    line-height: normal;
    font-size: 1em;
}
input,
button,
select,
textarea {
    font-family: inherit;
}
label {
    display: inline;
    margin-bottom: 5px;
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
    padding: 0px 0px 0px 8px;
    vertical-align: baseline;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    height: 30px;
    max-width: 100%;
    padding: 3px 6px;
    /* margin-bottom: 10px; */
    font-size: inherit;
    line-height: normal;
    color: inherit;
    border-radius: 0px;
    vertical-align: middle;
    background: #fff;
    color: #444;
    -webkit-transition: all 0.2s linear;
    -webkit-transition-property: border, background, color, box-shadow, padding;
    transition: all 0.2s linear;
    transition-property: border, background, color, box-shadow, padding;
    vertical-align: bottom;
}
input,
textarea,
.uneditable-input {
    /* width: auto; */
    
    ;
}
textarea {
    height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgb(221, 221, 221);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(137, 206, 187, 0.2);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(137, 206, 187, 0.2);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(137, 206, 187, 0.2);
}
input[type="radio"],
input[type="checkbox"] {
    margin: 0px 0 0;
    *margin-top: 0;
    /* IE7 */
    
    margin-top: 1px \9;
    /* IE8-9 */
    
    line-height: normal;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: auto;
    cursor: pointer;
}
input#a2z_abt_actif {
    margin-left: 10px;
    vertical-align: sub;
}
input.bouton+input {
    margin-left: 7px;
}
select,
input[type="file"] {
    min-height: 20px;
    /* In IE7, the height of the select element cannot be changed by height, only font-size */
    
    margin-top: 4px;
    /* For IE7, add top margin to align select with labels */
    
    line-height: 20px;
    width: 100%;
}
select {
    width: auto;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding: 0px;
}
select[multiple],
select[size] {
    height: auto;
}
#search form select{
    margin:0 5px 0px 0px ;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    outline-color: rgba(88, 160, 231, 0.65);
}
select {} input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #999999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999999;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed;
    background-color: #eeeeee;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
    background-color: transparent;
}
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    color: #b94a48;
    border-color: #ee5f5b;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}
/* ========================================================================
   Component: input focus /hover
 =====================================================================  */

.uk-form input:not([type]):focus,
.uk-form input[type=text]:focus,
.uk-form input[type=password]:focus,
.uk-form input[type=email]:focus,
.uk-form input[type=url]:focus,
.uk-form input[type=search]:focus,
.uk-form input[type=tel]:focus,
.uk-form input[type=number]:focus,
.uk-form input[type=datetime]:focus,
.uk-form input[type=datetime-local]:focus,
.uk-form input[type=date]:focus,
.uk-form input[type=month]:focus,
.uk-form input[type=time]:focus,
.uk-form input[type=week]:focus,
.uk-form input[type=color]:focus,
.uk-form select:focus,
.uk-form textarea:focus {
    border-color: transparent;
    border-right: none;
    outline: 0;
    background: #ffffff;
    color: #444
}
/* ========================================================================
   Component: input bouton par defaut
 ==========================================================================  */

#make_sugg input[type="button"],
#empr-list input[type="submit"],
#resultatrech_see>input[type="button"],
#form_search_bull input[type="button"],
#facette_wrapper input[type="button"],
.form_liste_lecture div input[type="button"],
.form_liste_lecture div input[type="submit"],
#subs_form input[type="button"],
#history_action input[type="button"],
#empr-resa input[type="button"],
#frame_notice_preview input[type="button"],
#frame_notice_preview input[type="submit"],
.popup_connexion_empr input[type="submit"],
#print_options input[type="submit"],
#print_options input[type="button"],
#aut_details_liste>input:first-child,
form[name="bannette_abonn"] input[value="Enregistrer"] {
    cursor: pointer;
    box-shadow: none;
}

/* ========================================================================
   multiple crit
 =========================================================================  */
.search_value input,
*[id^="elfield"] input,
#perio_a2z_search{
   margin:0px;
}
*[id^="elfield"] span{
    /* margin-top:5px; */
    /* display:inline-block; */
}
div[id^="elfield"]{
    margin-top:10px;
    border:solid 1px #e5e5e5;
    padding:5px;
    background-color: #efe9ea;
    box-shadow:inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius:4px;
}
div[id^="elfield"]>div{
     margin-top:10px;   
}
span.search_dico{
    display:inline-block;
    padding:0px 5px;
}
#search input.text_query {
    line-height: 1px;
    margin: 10px 0px;
    vertical-align: bottom;
    display: block;
}
.form-contenu input[value="..."],
.form-contenu input[value="+"]{  
  margin-right:10px!important;
}
span[class^="search_variable"]{
	display: inline-block;
	height: 33px;
	line-height: 33px;
}
span[class^="search_variable"] input{
    vertical-align:middle;
}
.form-contenu table{
    margin-top:10px;
}
.form-contenu input+input{
}
#td_search_submit{
	border-bottom: 0px solid #E5E5E5;
	background: #fff;
	text-align: right;
	padding-right: 0;
}
#form_search_bull .dijitTextBox{
    margin-right:7px;
}
/* ========================================================================
  Si tundra
 =========================================================================  */
.tundra .dijitButtonNode{
    min-height: 30px;    
}
#pmbopac.tundra .dijitArrowButtonInner{
    border: none;
    height: 30px!important;
}

/* ========================================================================
  dijit 
 =========================================================================  */
.dijitPopup.dijitCalendarPopup{
      background: #fff;
      text-align: center;
      padding: 4px;
      border: 1px solid #d0d0d0;
      border-collapse: separate;
      border-radius: 2px;
      box-shadow: 0 2px 3px rgba(0,0,0,0.15);    
}