<!-- $Id: docwatch_detail.tpl.html,v 1.2 2023/12/07 15:02:48 pmallambic Exp $ -->
<div>
    <a href='{{ itemwatch.url }}' title='Source' target='_blank'>
        <h3>
            {% if itemwatch.interesting %}
                <img src="{{ img.star.png }}">
            {% else %}
                <img src="{{ img.star_unlight.png }}">
            {% endif %}
            {{ itemwatch.title }}
        </h3>
    </a>
    <div>{{ itemwatch.publication_date }} / {{itemwatch.source.title}}</div>
    <div>{{ itemwatch.summary }}</div>
</div>