<div id="diffusionsPending">
	<loader></loader>
	<h1 class="section-title">{{ breadcrumb }}</h1>
	<div class="dsi-tabs">
		<div class="dsi-tab-registers" v-show="countTab > 1">
			<template v-for="(tab, index) in tabs">
				<button type="button"
					@click.self="switchTab(index)" :class="['bouton', tabActive == index ? 'active-tab' : '']">
					{{ messages.get('dsi', tab.title) }}
					<span role="button" type="button" class="dsi-close-tab" @click.stop="tab.close" v-if="tab.close">
						<i class="fa fa-times" aria-hidden="true"></i>
					</span>
				</button>
				<!-- Hack pour avoir un espace entre les tabs -->
				{{ &#32; }}
			</template>
		</div>
		<keep-alive include="list">
			<component :is="currentTab.component"
				v-bind="currentTab.props()"
				:class="['dsi-content', countTab > 1 ? 'dsi-tab-bodies' : '']" />
		</keep-alive>
	</div>
</div>

<script type="text/javascript">
	window.addEventListener("RMCLoaded", function() {
		require(['apps/search_dsi/DsiForm'], function(DsiForm) {
			new DsiForm({
				className: 'DsiForm',
				formName: 'search_form'
			});	
		});
	})

	window.addEventListener("startTree", function(event) {
		require(['dijit/registry', 'dojo/data/ItemFileReadStore', 'dijit/tree/ForestStoreModel', 'dijit/Tree','dijit/Tooltip'],function(Registry, Memory,ForestStoreModel,Tree,Tooltip){
			
			const treeId = "struct_tree";
			const editorId = "view-editor";
			const editorElementId = "django_tree";
			
			//On supprime l'arbre si existant pour les recreer
			var widgets = new Array();
			Registry.forEach(widget => {
				if(widget.id == treeId){
					widgets.push(widget.id);
					widget.destroyRecursive();
					widget.destroy();
				}
			});
			for (let i = 0; i < widgets.length; i++) {
				Registry.remove(widgets[i]);
			}
			
			//On rajoute la div
			let treeElement = document.createElement('div');
			treeElement.id = treeId;
			let editor = document.getElementById(editorElementId);
			editor.appendChild(treeElement);
			
			var datas = {label:'var'};
			datas.items = event.detail.data;
			var store = Memory({
				data : datas
			});
			var model = new ForestStoreModel({
				store: store,
				rootId: 'root',
				rootLabel:'Vars'
			});
			var tree = new Tree({
				model: model,
				showRoot: false,
				onDblClick: function(item){
					var itemVar = item.var[0];
					if (item.tpl && item.tpl[0]) {
						itemVar = item.tpl[0];
					}
					var tpl = '{{'+itemVar+'}}';
					if (item.tag && item.tag[0]) {
						tpl = '{%'+itemVar+'%}';
					}
					if(pmbDojo.aceManager.getEditor(editorId)){
						pmbDojo.aceManager.getEditor(editorId).insert(tpl);
					}else{
						document.getElementById(editorId).value = document.getElementById(editorId).value + tpl;
					}
					
					const event = new CustomEvent("updateEditor");
					window.dispatchEvent(event);
				},
			},treeId);
			new Tooltip({
				connectId: treeId,
				selector: 'span',
				getContent: function(matchedNode){
					return dijit.getEnclosingWidget(matchedNode).item.desc[0];
				}
			});
		});
	})
</script>