{% extends 'gabarit.html' %}

<!-- $Id: bulletin.html,v 1.2 2023/12/27 13:57:47 tsamson Exp $ -->
{% block element_link %}
		{% if global.what == 'contribution' %}
			<a href="#" data-element-id="{{ list_element.bull_id }}" data-element-type="bulletin" onclick="set_parent('{{ global.caller }}', '{{ list_element.bull_id }}', '{{ header_without_html | escape true }}','{{ global.callback }}')">
				{% block element_selector_header %}
					<span class='record_isbd'>
						{{ isbd | safe }}
					</span>
				{% endblock %}
			</a>
		{% else %}
 			{{ block.super }}
		{% endif %}
{% endblock %}