{% extends 'gabarit.html' %}

<!-- $Id: record.html,v 1.2 2021/01/21 09:42:08 jlaurent Exp $ -->
{% block element_link %}
		{% if global.what == 'contribution' %}
			<a href="#" data-element-id="{{ list_element.id }}" data-element-type="record" onclick="set_parent('{{ global.caller }}', '{{ list_element.id }}', '{{ header_without_html | escape true }}','{{ global.callback }}')">
				{% block element_selector_header %}
					<span class='record_isbd'>
						{{ isbd | safe }}
					</span>
				{% endblock %}
			</a>
		{% else %}
 			{{ block.super }}
		{% endif %}
{% endblock %}