/*Facette in responsive
========================================================================== */
#facette.uk-offcanvas{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	touch-action: none;
	background: rgba(0,0,0,.1);
	margin: 0;
	border: 0px solid #e0e0e0;
} 
#facette_wrapper.uk-offcanvas-bar{
	background: #373737;
	font-size: 1em;
	padding: 10px 10px 0;
}
#facette_wrapper.uk-offcanvas-bar a,
#facette_wrapper.uk-offcanvas-bar h3,
#facette_wrapper.uk-offcanvas-bar table th,
#facette_wrapper.uk-offcanvas-bar > form > h3.facette_compare_listTitle{
	background: transparent;
	color:#fff;
}
.uk-offcanvas-bar .facette_tr_see_more>td>a i{
	background: #ddd;
	color:#fff;
}
.uk-offcanvas-bar .facette_tr_see_more>td>a {
	border-color:#fff;
}

.facette_tr_see_more>td>a[onclick^="javascript"],
.facette_tr_see_more>td>a[href^="javascript"]{
	background: #ddd!important;
}