<!-- $Id: pnb_empr_loans.tpl.html,v 1.8 2023/08/08 15:36:22 qvarin Exp $ -->

{% if global.opac_rgaa_active %}
<h2><span>{{ msg.empr_pnb_current_loans_list }}</span></h2>
{% else %}
<h3><span>{{ msg.empr_pnb_current_loans_list }}</span></h3>
{% endif %}

{% if loans | length %} 
	<table class="liste-expl-empr-all" style="width: 100%">
		<tbody>
			<tr>
				<th>{{ msg.title }}</th>
				<th>{{ msg.author }}</th>
				<th>{{ msg.date_loan }}</th>
				<th>{{ msg.date_back }}</th>
				<th></th>
			</tr>
			{% for loan in loans %}
				<tr class="even" id="loan_row_{{ loan.expl_id }}" onmouseover="this.className='surbrillance '" onmouseout="this.className='even '">
					<td onmousedown="document.location='./index.php?lvl=notice_display&id={{ loan.num_notice_mono }}&seule=1';"	style="cursor: pointer" column_name="{{ msg.title }}">{{ loan.tit }}</td>
					<td column_name="{{ msg.author }}">{{ loan.author }}</td>
					<td column_name="{{ msg.date_loan }}" class="center">{{ loan.aff_pret_date }}</td>
					<td id="loan_date_back_{{ loan.expl_id }}" column_name="{{ msg.date_back }}" class="center">{{ loan.aff_pret_retour }}</td>
					<td class="right">
					   <input type="button" class="bouton" value="{{ msg.empr_pnb_loans_download }}" 
					       onclick="window.open('{{ loan.epub_link }}', '_blank')" data-attribute-expl="{{ loan.expl_id }}"/>
					   {% if loan.drm == 'LCP' %}
					       <br />
					       <input type="button" class="bouton" value="{{ msg.empr_pnb_loans_return }}" 
					           onclick="return returnLoan('{{ loan.expl_id }}', '{{ pnb_loan_display_mode }}', '{{ loan.drm }}');" />
					       <br />
					       <input type="button" class="bouton" value="{{ msg.empr_pnb_loans_extend }}" 
					           onclick="return extendLoan('{{ loan.expl_id }}', '{{ pnb_loan_display_mode }}', '{{ loan.drm }}');" />
					   {% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div id="response_pnb_return"></div>
{% else %} 
	<br><span class='noLoan'>{{ msg.empr_pnb_no_current_loans }}</span> 	
{% endif %}
