<!-- $Id: pnb_loan_form.tpl.html,v 1.4 2023/08/17 09:47:56 dbellamy Exp $ -->

<form method="post" id="devices_list" name="devices_list" action="./ajax.php?module=ajax&categ=pnb&action=post_loan_info&notice_id={{ record_id }}">
	<h3 id="empr_pnb_devices_list_title">{{ msg.empr_pnb_choose_device }}</h3>
	<select id="empr_pnb_device" name="empr_pnb_device">
		{% for device in devices %}
			<option value="{{ device.userAgentId }}">{{ device.appName }}</option>
		{% endfor %}
	</select>
	<input type="submit" class="bouton" value="{{ msg.empr_valid_password }}"/>
</form>

<script>
	require(['dojo/on', 
	         'dojox/widget/Standby', 
	         'dojo/request', 
	         'dojo/_base/lang',
	         'dojo/dom-attr',
	         'dojo/dom-form',
	         'dojo/dom',
	         'dijit/registry'], function(on, Standby, request, lang, domAttr, domForm, dom, registry){
		var form = dom.byId('devices_list');
		//console.log(form);
		on(form, 'submit', lang.hitch(this, function(e){
			e.preventDefault();
			e.stopPropagation();
	//		console.log(e);
			var standby = new Standby({target: "loan_popup", id:'standby_loan'});
		   	document.body.appendChild(standby.domNode);
		    standby.startup();
		    standby.show();
			request(domAttr.get(form, 'action'), {
				data: domForm.toObject(form),
				method: 'POST',
				handleAs: 'json',
			}).then(lang.hitch(this, function(data){
				
				standby.hide();
				var dialog = registry.byId('loan_popup');
				dialog.set('content', '');
				dialog.set('content', '<label>'+data.message+'</label>');
				
				if(data.status == true){
					//Traiter le lien à ouvrir dans un nouvel onglet
					var content = dialog.get('content');
					dialog.set('content', content+'<br/><input type="button" id="open_document_link" name="open_document_link" class="bouton" value="{{ msg.open_link_url_notice }}">');
					var button = dom.byId('open_document_link');
					on(button, 'click', function(){
						window.open(data.infos.link.url, '_blank');	
					});
				}
			}));
			//TODO: post the form in ajax
			return false;
		}));
	});
	
</script>