<!-- $Id: pnb_devices.tpl.html,v 1.5 2021/02/05 10:40:56 jlaurent Exp $ -->

<form method="post" name="devices_list" action="./empr.php?tab=pnb&lvl=pnb_devices&sub=save">
	{{ msg.empr_pnb_devices_list_comment }}
	<div class="row">&nbsp;</div>
	<h3 id="empr_pnb_devices_list_title">{{ msg.empr_pnb_devices_list }}</h3>
	{% if devices %}
	<select id="empr_pnb_devices_list" name="empr_pnb_devices_list[]" multiple="multiple" size="20">
		{% for device in devices %}
			<option {% if device.selected %} selected="selected" {% endif %} value="{{ device.userAgentId }}">{{ device.appName }}</option>
		{% endfor %}
	</select>
	<input type="submit" class="bouton" value="{{ msg.77 }}"/>
	{% else %}
		{% if !configWs %}
		<br><span class='noDevices'>{{ msg.pnb_not_set }}</span> 	
		{% endif %}
		<br><span class='noDevices'>{{ msg.empr_pnb_no_devices }}</span> 	
	{% endif %}
</form>