<!-- $Id: paginator.html,v 1.3.6.1.2.1 2025/01/29 09:13:41 dgoron Exp $ -->
{% comment %}

Template pour charter le paginateur
La structure de données est la suivante :
current => [
	page => Page courante,
    nbPerPage=> Nombre d'élements par page
	previous=> Numéro de la page précédente
	next=> Numéro de la page suivante
	elems => [
	    first => Numéro du premier élément de la page courante,
	    last=> Numéro du dernier élément de la page courante
]
total=> Nombre d'éléments total de la liste
nbPages=> Nombre de pages    
url => Url à  utiliser pour changer de page (ex : {{url | replace "!!page!!" current.previous}} )
action=> Action du formulaire
script => JS de controle
pages=> Tableau des numéros de pages à  afficher
onsubmit=> Soumission par defaut
custom => [
	url => URL à  utiliser pour changer le nombre d'éléments par page ( ex : {{custom.url | replace "!!nb_per_page_custom!!" 10}} )
	customs => Tableau des nombres éléments par page possible
]

{% endcomment  %}
<div class="navbar">
{% block script %}
	{{script}}
{% endblock %}
	<form name='form' action='{{action}}' method='post' onsubmit="{{ onsubmit | safe }}">
	{% if current.page != 1 %}	
		<a class='navbar_first' href='{{url | replace "!!page!!" 1}}' onclick='{{onclick | replace "!!page!!" 1}}'><img src='{{img.first}}' alt='{{msg.first_page}}' style='border:0px' title='{{msg.first_page}}'></a>
	{% else %}
		<img src='{{img.first-grey}}' alt="{{msg.first_page}}">
	{% endif %}
	{% if current.previous > 0 %}	
		<a class='navbar_prev' href='{{url | replace "!!page!!" current.previous}}' onclick='{{onclick | replace "!!page!!" current.previous}}'><img src='{{img.prev}}' alt='{{msg.prec_page}}' style='border:0px' title='{{msg.prec_page}}'></a>
	{% else %}
		<img src='{{img.prev-grey}}' alt='{{msg.prec_page}}'>
	{% endif %}
	{% for p in pages %}
		{% if p == current.page %}
			<strong>{{p}}</strong>
		{% else %}
			<a class='navbar_page' href='{{url | replace "!!page!!" p }}' onclick='{{onclick | replace "!!page!!" p }}'>{{p}}</a>
		{% endif %}
	{% endfor %}
	{% if current.next < nbPages or current.next == nbPages %}	
		<a class='navbar_next' href='{{url | replace "!!page!!" current.next }}' onclick='{{onclick | replace "!!page!!" current.next }}'><img src='{{img.next}}' alt='{{msg.next_page}}' style='border:0px' title='{{msg.next_page}}'></a>
	{% else %}
		<img src='{{img.next-grey}}' alt='{{msg.next_page}}'>
	{% endif %}
	{% if current.page != nbPages %}	
		<a class='navbar_last' href='{{url | replace "!!page!!" nbPages}}' onclick='{{onclick | replace "!!page!!" nbPages}}'><img src='{{img.last}}' alt='{{msg.last_page}}' style='border:0px' title='{{msg.last_page}}'></a>
	{% else %}
		<img src='{{img.last-grey}}' alt='{{msg.last_page}}'>
	{% endif %}
	({{current.elems.first}} - {{current.elems.last}} / {{total}})
	
	{% block selector %}
	{% endblock %}
	
	{% block input %}
	{% endblock %}
	</form>
</div>