<!-- $Id: scan_requests_header_list.tpl.html,v 1.2 2023/12/18 15:17:51 dgoron Exp $ -->
<tr>
	<th role='columnheader' style="width:20px;"></th>
	<th role='columnheader'>{{ msg.scan_request_title }}</th>
	<th role='columnheader'>{{ msg.scan_request_date }}</th>
	<th role='columnheader'>{{ msg.scan_request_wish_date }}</th>
	<th role='columnheader'>{{ msg.scan_request_deadline_date }}</th>
	<th role='columnheader'>{{ msg.scan_request_priority }}</th>
	<th role='columnheader'>{{ msg.scan_request_status }}</th>
	<th role='columnheader'></th>
</tr>