/*
Based on the original Style Sheet for the mxSilver Theme for phpBB version 2+
Edited by Cyber-MX
http://www.net-pixel.com
*/
/* General page style. The scroll bar colours only visible in IE5.5+ */

body{
  margin: 0;
	background-color: #eaedf4;
  color:#000000;
  font:11px Verdana,Arial,Helvetica,sans-serif;
}
/* General font families for common tags */
font,th,td,p{color:#000000; font:11px Verdana,Arial,Helvetica,sans-serif}
a:link,a:active,a:visited,a.postlink:link{color:#006699;text-decoration:none}
a:hover{color:#fd9b09;text-decoration:NONE}
.postbody{font-size:12px}

hr{border:0px solid #d1d7dc; border-top-width:1px; height:0px}

/* This is the border line & background colour round the entire page */
.bodyline{background:#ffffff}

/* This is the outline round the main forum tables */
.forumline{background:#ffffff;border:1px solid #006699}

/* This is for the error messages that pop up */
.errorline	{ background-color: #f9f9f9; border:1px solid #006699}

/* Main table cell colours and backgrounds */
td.row1{background:#efefef}
td.row2{background:#DEE3E7}
td.row3{background: #efefef}

/*
This is for the table cell above the Topics,Post & Last posts on the index.php page
By default this is the fading out gradiated silver background.
However,you could replace this with a bitmap specific for each forum
*/
td.rowpic{background:#C6CFD6}

/* Header cells - the blue and silver gradient backgrounds */
th{background: #006699 url(mxSilver/cellpic3.gif);
color: #f1f1f1;
font-size:10px;
font-weight:bold;
height:25px}

td.cat,td.cathead,td.catsides,td.catleft,td.catright,td.catbottom{
background:#C6CFD6 url(mxSilver/cellpic1.gif);
border:#ffffff;
border-style:solid;
height:28px}

/*
Setting additional nice inner borders for the main table cells.
The names indicate which sides the border will be on.
Don't worry if you don't understand this,just ignore it:-)
*/
td.cat,td.cathead,td.catbottom{border-width:0px 0px 0px 0px;height:28px}
th.thhead,th.thsides,th.thtop,th.thleft,th.thright,th.thbottom,th.thcornerl,th.thcornerr{
border:#D3D3D3;
border-style:solid;
font-weight:bold;
background:#A6B6CF;
height:28px}

td.row3right,td.spacerow{
background:#F3F3F3;
border:#606060;
border-style:solid
}
th.thhead,td.cathead{border-width:0px 0px 0px 0px}
th.thsides,td.catsides,td.spacerow{border-width:0px 0px 0px 0px}
th.thright,td.catright,td.row3right{border-width:0px 0px 0px 0px}
th.thleft,td.catleft{border-width:0px 0px 0px 0px}
th.thbottom,td.catbottom{border-width:0px 0px 0px 0px}
th.thtop{border-width:0px 0px 0px 0px}
th.thcornerl{border-width:0px 0px 0px 0px}
th.thcornerr{border-width:0px 0px 0px 0px}

/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1{
color:#006699;
font:bold 20px/120% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
text-decoration:none}
.subtitle,h2{
color:#006699;
font:bold 18px/180% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
text-decoration:none}

/* General text */
.gen{font-weight:bold}
.genmed{font-size:10px}
.gensmall{font-size:10px}

/* Forum category titles and forum links*/
.cattitle,.forumlink{font-weight:bold; letter-spacing:1px}

/* Used for the navigation text,(Page 1,2,3 etc) and the navigation bar when in a forum */
.nav{font-size:11px;font-weight:bold}

/* titles for the topics:could specify viewed link colour too */
.topictitle{color:#000000;font-size:11px;font-weight:bold}
a.topictitle:visited{color:#006699}
a.topictitle:hover{color:#fd9b09}

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name{color:#1A84BD;font-size:11px}

/* Location,number of posts,post date etc */
.postdetails{color:#1A84BD;font-size:10px}

/* The content of the posts (body of text) */
a.postlink:visited{color:#5493b4;text-decoration:none}

/* Quote & Code blocks */
.code{
background:#fafafa;
border:1px solid #d1d7dc;
color:#006699;
font:11px Courier,'Courier New',sans-serif
}
.quote{
background:#fafafa;
border:1px solid #d1d7dc;
color:#444444;
font:11px/125% Verdana,Arial,Helvetica,sans-serif}

/* Copyright and bottom info */
.copyright{font:9px Verdana,Arial,Helvetica,sans-serif}
a.copyright{color:#444444}
a.copyright:hover{color:#000000;text-decoration:underline}

/* Form elements */
input,textarea,select{
border-color:#006699;
color:#006699;
font:normal 11px Verdana,Arial,Helvetica,sans-serif}

/* The text input fields background colour */
input.post,textarea.post,select{background:#f9f9f9}
input{text-indent:1px}

/* The buttons used for bbCode styling in message post */
input.button{
background:#f9f9f9; color:#006699; font:11px Verdana,Arial,Helvetica,sans-serif}

/* The main submit button option */
input.mainoption{background:#f9f9f9;font-weight:bold}

/* None-bold submit button */
input.liteoption{background:#f9f9f9;font-weight:normal}

/* begin GIC */
input.disabled,textarea.disabled {
  color : #888888;
	border-left: 1px #A5B3C4 solid;
	border-top: 1px #A5B3C4 solid;
	border-right: 1px #BDC6D0 solid;
	border-bottom: 1px #BDC6D0 solid;
	background-color: #D3D6DC;
}
/* end GIC */

/* This is the line in the posting page which shows the rollover
help line. This is actually a text box,but if set to be the same
colour as the background no one will know;)
*/
.helpline{background:#f9f9f9;border-style:none}

/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("formie.css");
