{% extends 'gabarit.html' %}

<!-- $Id: collection.html,v 1.9 2018/08/03 12:47:00 arenou Exp $ -->

{% block element_link %}
	<a href="#" data-element-id="{{ list_element.id }}" data-element-type="authorities" onclick="set_parent('{{ global.caller }}', '{{ list_element.num_object }}', '{{list_element.isbd | escape true }}', '{{ global.callback }}', '{{ list_element.get_object_instance.parent }}', '{{list_element.get_object_instance.editeur |  escape true}}')">
		{% block element_selector_header %}
			{{ list_element.isbd | safe }}
		{% endblock %}
	</a>
{% endblock %}