{% extends 'record_extended_display.tpl.html' %}

<!-- $Id: record_in_contribution_display.tpl.html,v 1.1 2019/02/19 10:09:20 tsamson Exp $ -->


{% block record_resa %}
{% endblock %}
			
{% block articles %}
{% endblock %}

{% block record_perio_options %}
{% endblock %}

{% block record_collstate %}
{% endblock %}

{% block record_explnums %}
{% endblock %}

{% block record_other_readings %}
{% endblock %}

{% block scan_request %}
{% endblock %}

{% block record_avis_detail %}
{% endblock %}

{% block record_simili_search %}
{% endblock %}

{% block record_serialcirc_form_actions %}
{% endblock %}