{% extends 'record_extended_display_a.tpl.html' %}

<!-- $Id: record_for_printer_extended_a.tpl.html,v 1.2 2017/03/16 12:27:21 dgoron Exp $ -->

{% block record_map %}
{% endblock %}

{% block record_aside_content %}
{% endblock %}

{% block record_expl %}
	{% if record.external_parameters.expl %}
		{{ block.super }}
	{% endif %}
{% endblock %}

{% block record_avis_detail %}
{% endblock %}

{% block record_simili_search %}
{% endblock %}

{% block record_serialcirc_form_actions %}
{% endblock %}