<!-- $Id: scan_request_in_list.tpl.html,v 1.8.4.1 2019-06-17 14:25:01 dgoron Exp $ -->
<tr id="scan_request_{{scan_request.id}}_parent" style="cursor:pointer;">
	<td>
 		<img style="border:0px; margin:3px 3px" onclick="expand_scan_request({{scan_request.id}}); return false;" id="scan_request_{{scan_request.id}}_img" name="imEx" class="img_plus" src="./images/plus.gif">
	</td>
	<td onclick='scan_request_show_form({{scan_request.id}})'>{{ scan_request.title }}</td>
	<td onclick='scan_request_show_form({{scan_request.id}})'>{% if scan_request.location_name %}{{ scan_request.location_name }} / {% endif %}{{ scan_request.creator_name }}</td>
	<td onclick='scan_request_show_form({{scan_request.id}})'>{{ empr }}</td>
	<td onclick='scan_request_show_form({{scan_request.id}})'>{{ scan_request.formatted_date }}</td>
	<td onclick='scan_request_show_form({{scan_request.id}})'>{{ scan_request.formatted_wish_date }}</td>
	<td onclick='scan_request_show_form({{scan_request.id}})'>{{ scan_request.formatted_deadline_date }}</td>
	<td onclick='scan_request_show_form({{scan_request.id}})'>{{ scan_request.priority.label }}</td>
	<td onclick='scan_request_show_form({{scan_request.id}})'>
		<span><img id="scan_request_img_statut_part_{{scan_request.id}}" class="{{ scan_request.status.class_html }}" style="width:7px; height:7px; vertical-align:middle; margin-left:-3px;" src="./images/spacer.gif"></span>
		<span id="scan_request_statut_part_{{scan_request.id}}" >{{ scan_request.status.label }}</span>
	</td>
	<td><img onclick='document.location="{{ scan_request.edit_link }}"' class="icon" width="16" height="16" src="./images/b_edit.png"></td>
</tr>

<tr style="margin-bottom: 6px; display: none;" id="scan_request_{{scan_request.id}}_child">
	<td></td>
	<td colspan='9'>
		{% if scan_request.desc %}
			<div class='row'>
				<div class='colonne25'>
					{{ msg.scan_request_desc }} :
				</div>
				<div class='colonne_suite'>
					{{ scan_request.desc | nl2br }}
				</div>
			</div>
		{% endif %}
		{% if scan_request.comment %}
			<div class='row'>
				<div class='colonne25'>
				{{ msg.scan_request_comment }} :
				</div>
				<div class='colonne'>
					<span id="scan_request_comment_part_{{scan_request.id}}">{{ scan_request.comment | nl2br }}</span>
				</div>
			</div>
		{% endif %}
		<div class='row'>
			<div class='colonne25'>
				{{ msg.scan_request_update_date }} :
			</div>
			<div class='colonne'>
				{{ scan_request.formatted_update_date }}
			</div>
		</div>
		{% if scan_request.elapsed_time %}
			<div class='row'>
				<div class='colonne25'>
				{{ msg.scan_request_elapsed_time }} :
				</div>
				<div class='colonne'>
					<span id="scan_request_elapsed_time_part_{{scan_request.id}}">{{ scan_request.elapsed_time }}</span> {{ msg.scan_request_elapsed_time_unit }}
				</div>
			</div>
		{% endif %}
		{% if scan_request.nb_scanned_pages %}
		<div class='row'>
			<div class='colonne25'>
			{{ msg.scan_request_form_nb_scanned_pages }} :
			</div>
			<div class='colonne'>
				<span id="scan_request_form_nb_scanned_pages_{{scan_request.id}}">{{ scan_request.nb_scanned_pages }}</span>
			</div>
		</div>
		{% endif %}
	</td>
</tr>