<!-- $Id: contribution_area_scenario.tpl.html,v 1.7 2020/06/24 14:53:46 qvarin Exp $ -->

{% block breadcrumb %}
<ul class="uk-breadcrumb breadcrumb">
    <li><a href="./empr.php?tab=contribution_area&lvl=contribution_area_list">{{ msg.welcome_page }}</a></li>
    <li class="breadcrumb-item"><span class="breadcrumb_home"><a href='./empr.php?tab=contribution_area&lvl=contribution_area_new'>{{ msg.empr_menu_contribution_area_new }}</a></span></li>
    <li class="breadcrumb-item"><span class='elem'><a href='./index.php?lvl=contribution_area&sub=area&id={{ scenario.area.id }}'>{{ scenario.area.title}}</a></span></li>
</ul>
{% endblock %}

{% block contributionDivContainer %}
<div class="contributionDivContainer">
	<h3>{{ scenario.name }}</h3>
	<h4>{{ scenario.question }}</h4>
	<div class="row">
		{% for form in scenario.forms %}
			<div class='row'>
				{% block link_form %}
				<a href='./index.php?lvl=contribution_area&sub={{form.entityType}}&area_id={{form.area_id}}&scenario={{scenario.id}}&form_id={{ form.formId }}&form_uri={{ form.id }}&id=0' title="{{ form.name }}">
					{% if form.response %}
						{{ form.response }}
					{% else %}
						{{ form.name }}
					{% endif %}
				</a>
				{% endblock %}
			</div>		
		{% endfor %}
	</div>
</div>
{% endblock %}