<!-- $Id: contribution_areas_list.tpl.html,v 1.10 2019-06-06 07:16:49 btafforeau Exp $ -->

<style type="text/css">
	.contribution_form_table {
		display: table;
		text-align: center;
		width:100%;
		border-spacing: 0px 2px;
		table-layout: fixed;
	}
	
	.contribution_form_table_row {
		display: table-row;
	}
	
	.contribution_form_table_cell {
		display: table-cell;
		vertical-align: middle;
		height: 80px;
		
	}
	
	.contribution_form_table_cell:hover {
		text-shadow: initial;
	}
	
	.contribution_form_table_row.odd {
		background-color: #F8F8F8;
	}
	.contribution_form_table_row.even {
	    background-color: #EEEEEE;
	}
	.contribution_form_table_row.last_modified {
		font-weight: bold;
	}
</style>
<!-- Ne rien sortir si il n'y a rien -->	
{% if forms | length %}
	
	{* Dernière contribution *}
	{% if forms.last_contribution %}
		{% for last_contrib in forms.last_contribution %}
			{% if last_contrib.identifier %}
				<div class="last_contribution_container">
					<h3>{{ msg.onto_empr_contribution_area_last_contribution_title }}</h3>
					<a href="{{last_contrib.link}}">{{ last_contrib.displayLabel }}</a><br/>
					<input type="text" id="last_contribution_link" value="{{ last_contrib.link | replace './' global.opac_url_base }}"/>
					<input class="bouton" type="button" id="last_contribution_link_copy" value="{{ msg.onto_empr_contribution_area_last_contribution_copy | e true  }}"/>
				</div>
				<script type="text/javascript">
					require(['dojo/on', 'dojo/dom', 'dojo/topic'], function (on, dom, topic) {
						on(dom.byId("last_contribution_link_copy"), 'click', function() {
							try {
								dom.byId("last_contribution_link").select();
								var copy_success = document.execCommand('copy');
								if (copy_success) {
									topic.publish('dGrowl', '{{ msg.onto_empr_contribution_area_last_contribution_copy_success  | e true }}');
								}
							} catch (e) {
								prompt('{{ msg.onto_empr_contribution_area_last_contribution_copy_not_allowed | e true }}', dom.byId("last_contribution_link").value);
							}
						});
					});
				</script>
			{% endif %}
		{% endfor %}
	{% endif %}
	
	{* Liste des contributions *}
	{% for type_form, forms_by_type in forms %}
		{% if type_form != 'last_contribution' %}
			<div class="contribution_form_type_title"><h3>{{type_form}}</h3></div>
			<div class='contribution_form_table'>
				{% for form in forms_by_type %}		
					<div class='contribution_form_table_row {% if loop.odd %}odd{%else%}even{% endif %} '>									
						{% if !form.identifier %}
							<a  style='border-left: 5px solid {{ form.area.color }};' class='contribution_form_table_cell' href='./index.php?lvl=contribution_area&sub={{ form.sub }}&area_id={{ form.area.id }}&form_id={{ form.form_id }}&form_uri={{ form.form_uri }}&id={{ form.uri_id }}&scenario={{ form.parent_scenario_uri }}{% if form.contributor %}&contributor={{ form.contributor.id }}{% endif %}'>
								{{ form.displayLabel }}
							</a>
							{% if form.contributor %}
								<div class='contribution_form_table_cell'>
									{{ form.contributor.name }}
								</div>
							{% endif %}
							<div class='contribution_form_table_cell'>
								{{ form.last_edit }}
							</div>
							<div class='contribution_form_table_cell'>
								{% if form.can_push %}			
									<a href='./index.php?lvl=contribution_area&sub={{ form.sub }}&id={{ form.uri_id }}&action=push' onclick='if(!confirm(pmbDojo.messages.getMessage("contribution", "onto_contribution_push_confirm"))){return false;}'>
										<input type="button" value="{{ msg.empr_valid_password }}" class="bouton"/>
									</a>
								{% endif %}
								{% if form.can_edit %}
									<a href='./index.php?lvl=contribution_area&sub={{ form.sub }}&area_id={{ form.area.id }}&form_id={{ form.form_id }}&form_uri={{ form.form_uri }}&id={{ form.uri_id }}&scenario={{ form.parent_scenario_uri }}{% if form.contributor %}&contributor={{ form.contributor.id }}{% endif %}'>
										<input type="button" value="{{ msg.empr_modify }}" class="bouton"/>
									</a>
									<a href='./index.php?lvl=contribution_area&sub={{ form.sub }}&id={{ form.uri_id }}&action=delete' onclick='if(!confirm("{{ msg.onto_contribution_delete_confirm }}")){return false;}'>
										<input type="button" value="{{ msg.onto_contribution_delete_button }}" class="bouton"/>
									</a>
								{% endif%}
							</div>
						{% else %}
							<a  style='border-left: 5px solid {{ form.area.color }};' class='contribution_form_table_cell' href='{% if form.link %}{{ form.link }}{% else %}#{% endif %}'>
								{{ form.displayLabel }}
							</a>
							<div class='contribution_form_table_cell'>
								{{ form.last_edit }}
							</div>
							<div class='contribution_form_table_cell'>
								{% if form.can_push %}			
									<a href='./index.php?lvl=contribution_area&sub={{ form.sub }}&area_id={{ form.area.id }}&form_id={{ form.form_id }}&form_uri={{ form.form_uri }}&id={{ form.uri_id }}&pmb_id={{ form.identifier }}'>
										<input type="button" value="{{ msg.empr_modify }}" class="bouton"/>
									</a>
								{% endif %}								
							</div>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		{% endif %}
	{% endfor %}
{% else %}
	<div class="contribution_form_type_title">{{ msg.empr_menu_contribution_area_no_started }}.</div>
{% endif %}