<!-- $Id: contribution_area.tpl.html,v 1.7 2021/01/20 10:52:12 btafforeau Exp $ -->


<ul class="uk-breadcrumb breadcrumb">
	<li><a href='./empr.php?tab=contribution_area&lvl=contribution_area_new'>{{ msg.empr_menu_contribution_area_new }}</a></li>
</ul>
<div class="contributionDivContainer">
	<h3>{{ contribution_area.title }}</h3>
	<div class="row">
		{% if contribution_area.start_scenarios | length %}
			{% for start_scenario in contribution_area.start_scenarios %}
				<div class='row'>
					<a href='./index.php?lvl=contribution_area&sub=scenario&id={{contribution_area.id}}&scenario={{ start_scenario.id }}'>
						<p class='contribution_area_scenario_title'>{{ start_scenario.name}}</p>
					</a>
					<p class='contribution_area_scenario_comment'>{{ start_scenario.comment}}</p>
				</div>			
			{% endfor %}
		{% else %}
			{{ msg.entity_no_scenario_available_title }}
		{% endif %}
	</div>
</div>