{% extends 'gabarit.html' %}

<!-- $Id: collection.html,v 1.3 2023/08/08 15:36:22 qvarin Exp $ -->

{% block element_link %}
    {% if list_element.context_parameters.in_selector %}
    	<a href="#" data-element-id="{{ list_element.id }}" data-element-type="authorities" onclick="set_parent('{{ global.caller }}', '{{ list_element.num_object }}', '{{list_element.isbd |  escape true }}', '{{ global.callback }}', '{{ list_element.get_object_instance.parent }}', '{{list_element.get_object_instance.editeur |  escape true}}')">
    {% else %}
        <a href="{{ list_element.permalink }}" data-element-id="{{ list_element.id }}" data-element-type="authorities">
    {% endif %}
{% endblock %}

{% block element_title %}
    {{ list_element.isbd | safe }}
{% endblock %}
