{% extends 'gabarit.html' %}

<!-- $Id: concept.html,v 1.3 2023/08/08 15:36:22 qvarin Exp $ -->

{% block element_link %}
    {% if list_element.context_parameters.in_selector %}
        {% if global.caller == 'search_form' %}
            <a href="#" data-element-id="{{ list_element.id }}" data-element-type="authorities" onclick="set_parent('{{ global.caller }}', '{{ global.element}}', '{{ list_element.get_object_instance.id }}', '{{list_element.get_object_instance.isbd |  escape true }}', '{{global.type}}', '{{ global.callback }}')">
        {% else %}
            <a href="#" data-element-id="{{ list_element.id }}" data-element-type="authorities" onclick="set_parent('{{ global.caller }}', '{{ global.element}}', '{{ list_element.get_object_instance.uri }}', '{{list_element.get_object_instance.isbd |  escape true }}', '{{global.type}}', '{{ global.callback }}')">
        {% endif %}
    {% else %}
        <a href="{{ list_element.permalink }}" data-element-id="{{ list_element.id }}" data-element-type="authorities">
    {% endif %}
{% endblock %}

{% block element_title %}
    {{ list_element.get_object_instance.header | safe }}
{% endblock %}
