<!-- $Id: gabarit.html,v 1.10 2023/09/20 14:30:38 dgoron Exp $ -->

<div class="notice-parent" id="el{{ list_element.uid }}{{ list_element.id }}Parent">
	{% block expandBase %}
 		<img style="border:0px; margin:3px 3px" onclick="expandBase('el{{ list_element.uid }}{{ list_element.id }}', true); return false;" id="el{{list_element.uid}}{{list_element.id}}Img" name="imEx" class="img_plus" src="{{ global.base_path }}/getgif.php?nomgif=plus">
 	{% endblock %}
	<span class="notice-heada">
			{% block status %}
			<small>
				<span class='{{list_element.statut_class_html}}' style='margin-right: 3px;'>
					<a href=# onmouseover="z=document.getElementById('zoom_statut{{ list_element.id }}'); z.style.display='';" onmouseout="z=document.getElementById('zoom_statut{{list_element.id}}'); z.style.display='none';">
						<img src="{{ img.spacer.gif }}" width="10" height="10" />
					</a>					
				</span>
			</small>
			{% endblock %}
			{% block element_link %}
				{% if list_element.context_parameters.in_selector %}
					<a href="#" data-element-id="{{ list_element.id }}" data-element-type="authorities" onclick="set_parent('{{ global.caller }}', '{{ list_element.num_object }}', '{{ list_element.isbd |  escape true }}','{{ global.callback }}')">
				{% else %}
					<a href="{{ list_element.permalink }}" data-element-id="{{ list_element.id }}" data-element-type="authorities">
				{% endif %}
			{% endblock %}
			{% block element_title %}
				{% if list_element.type_icon %}
					<img class="align_top" src="{{ list_element.type_icon }}" title="{{ list_element.type_label }}" alt="{{ list_element.type_label }}"/>
				{% endif %}
				<div id="zoom_statut{{ list_element.id }}" style="border: solid 2px #555555; background-color: #FFFFFF; position: absolute; display:none; z-index: 2000;">
					<b>
						{{ list_element.statut_label }}
					</b>
				</div>
				{% if list_element.display %}
					{{ list_element.display | safe }}
				{% else %}
					{{list_element.isbd | safe}}
				{% endif %}
			{% endblock %}
				</a>
			</span>
    {% block aut_subtitle %}
    {% endblock %}
</div>
<div style="margin-bottom: 6px; display: block;" class="notice-child" startOpen="no" id="el{{ list_element.uid }}{{ list_element.id }}Child">
		<!-- Vignette -->
		<div class="vignetteimgAut">
			{% block aut_picture %}
				<div class="vignetteDocAut">
	    {% if list_element.thumbnail_url %}
	    	<div class="vignAut">{{list_element.thumbnail}}</div>
			    	{% else %}
			    		<div class="vignAut">
							{% block aut_no_image %}
							{% endblock%}
						</div>
	    			{% endif %}
				</div>
			{% endblock %}
		</div>
	    
		<img class="align_middle" href="#"/>
		{{ list_element.caddie }}
	<div id="el{{ list_element.uid }}{{ list_element.id }}Detail" style="overflow:hidden;">
				{% block element_content %}
					{{ list_element.detail | safe }}
				{% endblock element_content %}
		</div>
		<div class="clear"></div>
	<script type='text/javascript'>
		if(!document.getElementById('el{{ list_element.uid }}{{ list_element.id }}Detail').innerText) {
			var elementImg = document.getElementById('el{{list_element.uid}}{{list_element.id}}Img');
			if(elementImg) {
				elementImg.setAttribute('style', 'visibility:hidden');
			}
		}
	</script>
</div>
