{% comment %}
$Id: gabarit.html,v 1.3 2022/11/25 14:59:27 arenou Exp $
{% endcomment %}
<style type="text/css">
	.aut_display_row {
		display: table-row;
	}
	
	.aut_display_cell {
		display: table-cell;
		padding-right: 5px;
	}
</style>
<td style='vertical-align:top'>
	{% block detail %}
		<div class="aut_display_row">
			<div class="aut_display_cell">
				<b>{{ msg.ontology_object_uri }} :</b>
			</div>
			<div class="aut_display_cell">
				{{ entity.uri }}
			</div>
		</div>
		<div class="aut_display_row">
			<div class="aut_display_cell">
				<b> Type :</b>
			</div>
			<div class="aut_display_cell">
				{{ entity.typeLabel | join " / " }}
			</div>
		</div>
		{% for key, elem in entity.infos %}
			<div class="aut_display_row">
				<div class="aut_display_cell">
					<b> {{elem.label}} :</b>
				</div>
				<div class="aut_display_cell">
					{% for value in elem.values %}
					    {% if !loop.first %} / {% endif %}
						{% if value.object %}
							<a href='{{base_url}}?categ=&sub={{value.object.type.0}}&action=see&id={{value.object.id}}''>{{value.object.isbd}}</a>
						{% else %}
							{{value}}
						{% endif %}
						
					{% endfor %}
				</div>
			</div>
		{% endfor %}	
	{% endblock detail %}
</td>