{% extends 'gabarit.html' %}

<!-- $Id: indexint.html,v 1.9 2018/03/07 13:40:30 dgoron Exp $ -->

{% block header %}
	<h1><span>{{ msg.detail_indexint }}</span></h1>
{% endblock %}
	
{% block title %}
	<h3 style='display:inline'>
		{% if global.thesaurus_classement_mode_pmb %}
			[{{ authority.name_pclass }}]
		{% endif %}
		{{ authority.name }}
		{% if authority.comment %}
			: {{ authority.comment }}
		{% endif %}
	</h3>
	<script type="text/javascript">
		document.title = "{{ authority.name }}{% if authority.comment %} : {{ authority.comment }}{% endif %}";
	</script>
{% endblock %} 

{% block details %}
{% endblock %}

{% block aut_buttons %}
	<div class='row'>
		<div class='left'>
			<input type='button' class='bouton' value='{{msg.62}}' onclick="document.location='./autorites.php?categ=indexint&sub=indexint_form&id={{authority.num_object}}'"/>
			<input type='button' class='bouton' value='{{msg.158}}' onclick="document.location='./autorites.php?categ=indexint&sub=replace&id={{authority.num_object}}'"/>
			<input type='button' class='bouton' value='{{msg.aut_duplicate}}' onclick="document.location='./autorites.php?categ=indexint&sub=duplicate&id={{authority.num_object}}'"/>
			{% if global.pmb_type_audit %}
				<input type='button' class='bouton' value='{{msg.audit_button}}' onclick="openPopUp('./audit.php?type_obj={{authority.audit_type}}&object_id={{authority.num_object}}', 'audit_popup')"/>
			{% endif %}	
		</div>
		<div class='right'>
			<input type='button' class='bouton' value='{{msg.63}}' onclick="confirm_delete();" />
		</div>
	</div>
{% endblock %}

{% block aut_link_delete %}
	document.location='./autorites.php?categ=indexint&sub=delete&id={{authority.num_object}}';
{% endblock %}		