{% extends 'gabarit.html' %}

<!-- $Id: publisher.html,v 1.6 2023/08/08 15:36:21 qvarin Exp $ -->

{% block title %}
	{% title authority_isbd %}
		 {{ msg.publisher_tpl_publisher }} {{ authority.name }}{% if authority.web %} <a target="_blank" href="{{authority.web}}"><img src='{{ img.globe.gif }}'/></a>{% endif %}
	{% endtitle %}
{% endblock %}

{% block aut_see %}
	<div class="publisherlevel2">
		{{block.super}}
	</div>
{% endblock %}
	
{% block details %}
	{% if authority.ed_comment %}
		<div class="aut_display_row">
			<div class="aut_display_cell">
				<b>{{ msg.comment }} :</b>
			</div>
			<div class='aut_comment aut_display_cell'>
				{{authority.ed_comment | nl2br }}
			</div>
		</div>
	{% endif %}
	{% if authority.ville %}
		<div class="aut_display_row">
			<div class="aut_display_cell">
				<b>{{msg.publisher_details_location | printf "" }} :</b>
			</div>
			<div class='aut_display_cell'>
				{{ authority.ville }}
			</div>
		</div>
	{% endif %}
	{% if authority.adr1 %}
		{% if authority.cp %}
			{% if authority.ville %}
				<div class="aut_display_row">
					<div class="aut_display_cell">
						<b>{{ msg.empr_adresse }} :</b>
					</div>
					<div class="aut_display_cell">
						{{authority.adr1}}
						{% if authority.adr2 %}
							<br />{{authority.adr2}}
						{% endif %}	
						<br />{{authority.cp}} {{authority.ville}}
						{% if authority.pays %}
							<br />{{authority.pays}}
						{% endif %}
					</div>
				</div>
			{% endif %}
		{% endif %}
	{% endif %}
	{% if authority.collections %}
		{% for collection in authority.collections %}
			{% if loop.first %}
				<div class="aut_display_row">
					<div class="aut_display_cell">
						<b>{{ msg.publishers_collections }} :</b>
					</div>
					<div class="aut_display_cell">
			{% else %}
				<br />
			{% endif %}	
						<a href="./index.php?lvl=coll_see&id={{collection.db_id}}">{{ collection.name }}</a>
			{% if loop.last %}
					</div>
				</div>
			{% endif %}	
		{% endfor %}
	{% endif %}
{% endblock %}