/*
Auteur : fg

	Tutos pour créer votre fichier style sur http://fg.logiciel.free.fr rubrique forum .
	Plus de style sur http://fg.logiciel.free.fr rubrique forum .
*/


body         { margin: 0 }

.fgjsdiapo_table_script {width:810px;}
.fgjsdiapo_table_script_td_header {border:2px solid #3888E9;background-color: #80A5E7;font-size: 12pt; margin: 1; padding: 0; color: #FFFFFF; height:25px; font-family: 'Trebuchet MS', sans-serif; font-weight:bold}
.fgjsdiapo_table_script_td_nav {padding:2px; height: 25px;border:1px solid #5582D3;background-color: #C3DAF9; width:100%; text-align:center; vertical-align:middle}
.fgjsdiapo_table_script_td_nav_btn {height: 32px;width:130px;font-size:10px;letter-spacing:0.5pt;}
.fgjsdiapo_table_script_td_bottom {height: 20;}

.fgjsdiapo_div_optionsabout {border:1px solid #5582D3;background-color: #C3DAF9;}

.fgjsdiapo_fen_preview_h {width: 801px;height: 115px;}
.fgjsdiapo_fen_preview_v {width: 120px;height: 400px;}
	
.jsdiapo_move_nfo {border:1px solid #D1D7DC;text-align: center;font-family: 'Tahoma', sans-serif; font-size: 11px; color: #5582D3;background-color: #FAFAFA; letter-spacing:2pt}
	
.jsdiapo_images_img_preview {height:80px;width:80px;background-color: #FFFFFF;}
	

.copyright {font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #444444; letter-spacing: -1px;}

button {height: 25px;width:130px;font-size:12px;border:1px solid #003C74;background-color:#F4F4F0;font-family: 'Tahoma', sans-serif;vertical-align:top; color:#000000;margin-left: 1px; margin-right: 1px;}
input,select {color:#000000; background-color:#FFC06F;width:130px;}
input {border:1px solid #000080;}
h3 {font-size: 12pt;color: #FFFFFF; font-family: 'Trebuchet MS', sans-serif; font-weight:bold;background-color: #80A5E7; text-indent:15px}
a,a:active,a:link {color: #3333FF}
a:hover {color: #6666FF}
